{% extends 'base_privada.html' %}
{% load i18n %}

{% block contenido %}
<div class="perfil_actor">
	<div class="nombre_actor">
		Nombre:<a href="/actor/{{actor.id}}">{{actor.nombre}} {{actor.apellidos}}</a> <br>
		Fecha de namiento: {{actor.fecha_nacimiento}} <br>
		Edad: {{edad}} <br> <br>
		Nacionalidad: {{actor.nacionalidad}}
	</div>
	<img src="{{MEDIA_URL}}{{actor.foto}}" alt="" class="retrato">
	<div class="biografia">
		<h3>Biografía:</h3> 
		<p>{{actor.biografia}}</p>
	</div>
	<div class="peliculas_actua">
		<h3>Peliculas realizadas:</h3>
		<ul>
			{% for p in peliculas %}
				<li><a href="/pelicula/{{p.id}}">{{p.titulo}}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="comentarios">
	<h3>Comentarios:</h3>
		<ul>
			{% for c in actor.comentarios.all %}
				<li><a href="/perfil/{{c.autor.usuario}}">{{c.autor.usuario}}</a>: {{c.comentario}} <font color="#A9A4A4">{{c.fecha_modificacion}}</font></li>
			{% endfor %}
		</ul>
	<div class="comenta">
		<form class="form-signin" method="post" action="/comenta_actor/{{actor.id}}">{% csrf_token %}
			<textarea cols="40" id="id_comentario" name="comentario" rows="5" value="{{formulario.coemntario.value}}" placeholder="Comentario..."></textarea>
			<button class="btn btn-large btn-primary" type="submit">Comenta</button>
		</form>
	</div>
</div>
{% endblock %}