{% extends 'base_privada.html' %}
{% load i18n %}

{% block contenido %}
<div class="box_perfil">
	<div class="info_perfil">
		<h3>{{user.nombre}} {{user.apellidos}}</h3>
		<h4>Edad: {{edad}}</h4>
	</div>
	<img src="{{MEDIA_URL}}{{user.avatar}}" alt="" class="perfil_avatar">
	<div class="mensajeria">
		{% if mensajes %}
				{% for m in mensajes %}
						<div class="mensaje">
							<a href="/perfil/{{m.fro}}">{{m.fro}}</a>, {{m.asunto}}, {{m.fecha_envio}}					 
						</div>
						<div class="contenido" style="display: none;">
							{{m.mensaje}}
							<hr>
							<form  method="post" action="/enviamensaje/{{m.fro}}">{% csrf_token %}
								<input type="text" name="asunto" value="Re: {{m.asunto}}"> <br>
								<textarea name="mensaje" rows="6" class="redacta_mensaje"></textarea> <br>
								<button class="btn btn-large btn-primary" type="submit">Responder</button>
							</form>
						</div>
				{% endfor %}
		{% else %}

		{% endif %}
	</div>
</div>
{% endblock %}

{% block script %}
<script> 
$(document).ready(function(){
  $(".mensaje").click(function(){
  	$(".mensaje").next().slideUp();
    $(this).next().slideToggle("slow");
  });
});
</script>
{% endblock %}